//out: ../index.css

/* Settings
-----------------------------*/
@import './settings/_setting.global';
@import './settings/_setting.animation';

/* Utilities
-----------------------------*/
@import './utilities/_utility.positioning';
@import './utilities/_utility.text';
@import './utilities/_utility.color';

/* Components
-----------------------------*/
@import './components/_component.navbar';
@import './components/_component.button';
@import './components/_component.input';
@import './components/_component.container';

/* Application Components
-----------------------------*/
@import './app_components/_app.search-container';
@import './app_components/_app.places-map';

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: $text-color--default;
    background: linear-gradient(-145deg,
                                palette(gray, dark),
                                palette(navy, dark),
                                palette(navy),
                                palette(lavender, dark),
                                palette(lavender),
                                palette(lavender, light));
    background-size: 800% 800%;
    -webkit-animation: backgroundGradient 30s ease infinite;
    -moz-animation: backgroundGradient 30s ease infinite;
    animation: backgroundGradient 30s ease infinite;
}
