/* Text Alignment
-----------------------------*/
.u-textAlign--center {
    text-align: center;
}

.u-textAlign--left {
    text-alignt: left;
}

.u-textAlign--right {
    text-alight: right;
}

/* Text Decoration
-----------------------------*/
.u-textDecoration--none {
    text-decoration: none;
}

.u-textDecoration--underline {
    text-decoration: underline;
}

.u-textDecoration--overline {
    text-decoration: overline;
}

.u-textDecoration--strike {
    text-decoration: line-through;
}
